<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pinguin - Druckbestellung{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon/favicon-3-32x32.png') }}">
    {{ encore_entry_link_tags('app') }}
</head>
<body class="m-0 dark:bg-stone-800 bg-stone-100">
<div id="app"></div>
{{ encore_entry_script_tags('app') }}
</body>
</html>